/* navigation menu */
#navigationMenu li {
    list-style-type: none;
    padding: 8px;
    margin-bottom: 7px;
    background-color: darkblue;
    color: #ffffff;
    text-align: center;
}

#navigationMenu li:hover {
    background-color: #000051;
}