/* max size and center the whole page */
body {
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
    float: none;
    font-family: 'Noto Sans', serif;
}

/* outer grid stuff */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    padding-right: 20px;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

.col-30percent {
    width: 30%;
}

.col-70percent {
    width: 70%;
}

.col-100percent {
    width: 100%;
}

/* logo */
img#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px
}

/* banner */
#welcomeBanner {
    padding: 20px;
}

/* product list */
#productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#productList figure {
    text-align: center;
    padding: 10px;
}

#productList figure:hover {
    background-color: gainsboro;
}

#productList img {
    max-height:100%;
    max-width:100%;
}

.container {
    position: relative;
}

.container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    display: none;
    color: white;
}

.container:hover .overlay {
    display: block;
    background: rgba(0,0,0,.5);
}

figure {
    display: inline-block;
    margin-bottom: 8px;
    width: calc(25% - 6px);
}

/* navigation menu */
#navigationMenu li {
    list-style-type: none;
    padding: 8px;
    margin-bottom: 7px;
    background-color: #0025d2;
    color: #ffffff;
    text-align: center;
}

#navigationMenu li:hover {
    background-color: #001f9d;
}

/* footer */
#footer {
    margin: 20px;
    padding: 10px;
    background-color: gainsboro;
    border-right: 20px solid white;
    border-left: 20px solid white;
}