*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
    float: none;
    font-family: 'Noto Sans', serif;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

#table {
    border-collapse: collapse;
    border-spacing: 0;
}

img#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px
}

[class*='col-'] {
    float: left;
    padding-right: 20px;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

.col-30percent {
    width: 30%;
}

.col-70percent {
    width: 70%;
}

.col-33percent {
    width: 33%;
}


#productList * {
    padding: 20px;
    width: 32%;
}

#navigationMenu li {
    list-style-type: none;
    padding: 8px;
    margin-bottom: 7px;
    background-color: #0025d2;
    color: #ffffff;
    text-align: center;
}

#navigationMenu li:hover {
    background-color: #001f9d;
}

#welcomeBanner {
    padding: 20px;
}

#footer {
    margin: 20px;
    padding: 10px;
    background-color: gainsboro;
}